<% if logged_in?(session) %>
    <%= @error %>
    <form action='/tweets/<%= @tweet.id %>' method="post">
        <input type="hidden" name="_method" value="patch">
        Content:
        <input type="text" name="content" value="<%= @tweet.content %>"><br>
        Create Your Tweet:

        <input type="submit" name="submit" id="submit" value="Edit Tweet">

    </form>

<% else %>
    <h1> You Must Be Logged in to Edit Tweets </h1>
<% end %>
