<a href="/">Welcome Page</a>
<br>
<div>
    <h1>New User Sign Up</h1>

    <form action="/signup" method="POST">
        <label for="name"><strong>Username: </strong></label><input type="text" name="username" placeholder="Enter username"><br>
        <label for="email"><strong>Email: </strong></label><input type="text" name="email" placeholder="Enter email"><br>
        <label for="password"><strong>Password: </strong></label><input type="password" type="password" name="password" placeholder="Enter password"><br>
    
        <input type="submit" value="Submit">
    </form>
</div>