<h1>Login</h1>

<form method="POST" action="/login">
   <label for="username">Username:
      <input type="text" name="username">
   </label>
   <label for="password">Password:
      <input type="password" name="password">
   </label>
   <input type="submit" id="submit">
</form>